<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"
    integrity="sha256-eKk/OB1/M9wf6oWV2+jUV8DpHXBFjNthcjTRvgPb4jg=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css"
    integrity="sha256-oVdx55VoqJ/ONE3ehd7/NUko5KBRzuAfdxPBwp9qE4w=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dimmer.min.css"
    integrity="sha256-gNZJMsbeDLpXsX3vaieYcR+GofquClmBQJ2+Q9LFsMI=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/tab.min.css"
    integrity="sha256-o+7a9W1R5+w0bt5f6e6aIPkI+P7adTsxjFwBK+K0rj4=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css"
    integrity="sha256-cRSLOaiPiyfTQ4B4HT1OCF/2CWNzGcPO9Nns6Jrf4hg=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.css"
    integrity="sha256-UHeBVR0fprbNitzKPhdn/I/0NP+tlqNmcNbPqgluZuM=" crossorigin="anonymous" />

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js" integrity="sha256-uEocYy6a0MpPLLHtYV7QAGdOeMRwE0Am2WtnOg/hBfM="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dimmer.min.js" integrity="sha256-4jCyaIQIKQX4zzzvspDqEvUmsPnpkr5lFuDOvKR/Wbo="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.js" integrity="sha256-kt0Dfi+mrxAU+iYsfDrkROHrb55Hi0lVWC7MT46/xnU="
    crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <script src="{{ url_for('static', filename='tablesort.js') }}"></script>



  <title>Approval to Publish Form - New Dataset</title>
</head>

<body id="page-dimmer" style="height:100%" class="blurring dimmable">
  <div class="ui dimmer">
    <div class="ui large text loader">Working our magic</div>
  </div>
  <br />
  <main id="page-content" class="ui container" style="padding-bottom:2em">
    <h1 class="ui dividing header">Data Validation Tool
      <div class="sub header">Intake Form</div>
    </h1>
    <form class="ui form" id="form-atpf" method="post" enctype="multipart/form-data">
      <div class="ui vertically divided horizontally grid">
        <div class="row">
          <div class="sixteen wide column">
            <h2 class="ui header">Dataset</h2>
            <div class="two fields">
              <div class="six wide required field">
                <label for="dataset_name">Dataset Name</label>
                <input type="text" name="dataset_name" data-field="dataset_name" placeholder="Dataset name">
              </div>
              <div class="ten wide field">
                <label for="agol_url">ArcGIS Online URL</label>
                <input type="text" name="agol_url" data-field="agol_url" placeholder="https://services3.arcgis.com">
              </div>
            </div>

            <div class="ui labeled button" tabindex="0" id="upload-button">
              <label for="payload" class="ui blue button">
                <i class="upload icon"></i>
                Upload
              </label>
              <label class="ui basic left pointing label" id="uploaded-file" for="payload">Select data file
              </label>
              <input type="file" name="payload" data-field="payload" id="payload" style="display: none">
            </div>

            <h2 class="ui header">Fields</h2>
            <table class="ui striped very compact table" id="table-schema">
              <thead>
                <th>Validate?</th>
                <th class="twelve wide">Name</th>
                <th class="two wide">Type</th>
              </thead>
              <tbody>
              </tbody>
              <tfoot class="full-width">
                <tr>
                  <th colspan="5">
                    <button class="ui button disabled right floated" id="btn-add-row" type="button">
                      <i class="plus icon"></i>
                      Add Field
                    </button>
                  </th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

      </div>
      <div class="ui primary submit button right floated right labeled icon"><i class="play icon"></i>Submit</div>
      <div class="ui clear button labeled icon"><i class="undo icon"></i>Clear&nbsp;</div>
      <div class="ui error message"></div>
    </form>

    <div class="ui segments" id="report">
      <div class="ui segment">
        <h2 class="ui header">Report Details</h2>
        <div class="ui basic segment">
          <table class="ui very compact very basic table" id="report-info">
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="ui segment" >
        <h2 class="ui header">File results overview</h2>
        <div class="ui basic segment" id="dataset-validation">
          <h3 class="top attached">Dataset Validation</h3>
          <div class="ui info message attached">
            <div class="header"><i class="icon"></i></div>
          </div>
          <div class="ui styled fluid accordion bottom attached" id="profiling-accordion">
            <div class="title">
              <div><i class="dropdown icon"></i>Details</div>
            </div>
            <div class="content">
              <table class="ui very compact very basic table" id="report-data-profile">
                <thead>
                  <tr>
                    <th></th>
                    <th class="center aligned">Result</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <div id="validation-map" style="height: 360px;"></div>
            </div>
          </div>
        </div>
        <div class="ui basic segment" id="column-profiling">
          <h3 class="top attached">Column Profiles</h3>
          <div class="ui message attached">
            <div class="header"><i class="icon"></i></div>
          </div>
          <div class="ui styled fluid accordion bottom attached" id="column-profiling-accordion">
            <div class="title">
              <div><i class="dropdown icon"></i>Details</div>
            </div>
            <div class="content">
              <div class="ui secondary pointing menu" id="report-data-profile-tabs">
                <a class="item" data-tab="issues">Issues</a>
                <a class="item" data-tab="passes">Passes</a>
                <a class="item" data-tab="exclusions">Exclusions</a>
              </div>
              <div class="ui tab" data-tab="issues" id="report-column-profile-issues">
                <table class="ui very basic very compact table" id="report-column-profile">
                  <thead>
                    <tr></tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="ui tab" data-tab="passes" id="report-column-profile-pass">
                <table class="ui very basic very compact table" id="pass-report-column-profile">
                  <thead>
                    <tr></tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="ui tab" data-tab="exclusions" id="excluded-columns">
                <table class="ui very basic very compact table">
                  <thead>
                    <tr>
                      <th>
                        Columns excluded from analysis in previous screen
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment" id="report-comparison">
        <h2 class="ui header">Comparison with AGOL data</h2>
        <div class="ui basic segment">
          <h3 class="top attached">Column Types</h3 top attached>
          <div class="ui message attached">
            <div class="header"><i class="icon"></i></div>
          </div>
          <div class="ui styled fluid accordion bottom attached" id="report-comparison-accordion">
            <div class="title">
              <div><i class="dropdown icon"></i>Details</div>
            </div>
            <div class="content">
              <div class="ui secondary pointing menu" id="report-comparison-tabs">
                <a class="item" data-tab="added">Added</a>
                <a class="item" data-tab="removed">Removed</a>
                <a class="item" data-tab="modified">Modified</a>
                <a class="item" data-tab="matched">Matched</a>
              </div>
              <div class="ui tab" data-tab="added">
                <table class="ui very basic very compact table" id="compare-columns-added">
                  <thead>
                    <tr>
                      <th class="center aligned">Column added to data file</th>
                      <th class="center aligned">Type</th>
                      <th class="center aligned">Change</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="ui tab" data-tab="removed">
                <table class="ui very basic very compact table" id="compare-columns-removed">
                  <thead>
                    <tr>
                      <th class="center aligned">Column removed from ArcGIS Online</th>
                      <th class="center aligned">Type</th>
                      <th class="center aligned">Change</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="ui tab" data-tab="modified">
                <table class="ui very basic very compact table" id="compare-columns-modified">
                  <thead>
                    <thead>
                      <tr>
                        <th class="center aligned"></th>
                        <th class="center aligned">Type in File</th>
                        <th class="center aligned">Type in ArcGIS Online</th>
                        <th class="center aligned">Change</th>
                      </tr>
                    </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="ui tab" data-tab="matched">
                <table class="ui very basic very compact table" id="compare-columns-matched">
                  <thead>
                    <thead>
                      <tr>
                        <th></th>
                        <th class="center aligned">Type</th>
                        <th class="center aligned">Change</th>
                      </tr>
                    </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="ui basic segment">
          <h3 class="top attached">Row Counts</h3>
          <div class="ui styled fluid accordion bottom attached">
            <div class="title">
              <div><i class="dropdown icon"></i>Details</div>
            </div>
            <div class="content">
              <table class="ui very basic very compact table" id="report-compare-rows">
                <thead>
                  <tr></tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>